<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2IXLcF-f1TpOr8Irw06eODrMlUAnYDXk</string>
	<key>GCM_SENDER_ID</key>
	<string>755287474700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delicyfood</string>
	<key>PROJECT_ID</key>
	<string>delicyfood-a35c4</string>
	<key>STORAGE_BUCKET</key>
	<string>delicyfood-a35c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755287474700:ios:be6a5c3c127618f8dc2429</string>
</dict>
</plist>